@font-face {
    font-family: "Main";
    src: url(Assets/Main.ttf);
}

body {
    background-image: url(Assets/background_layout.png);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: #100124;
}

main {
    position: relative;
    height: 80vh;
    width: 55vw;
    background-image: linear-gradient(#fefefe,#dfc6f3);
    margin: 0 auto;
    box-shadow: 0px 0px 30px 0px #5908b0;

    nav {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 0.5% 0;
    }

    .credits {
        font-family: "main";
        position: absolute;
        bottom: 0;
        left: 15px;
        color: #a26ad6;

    }

}

.navbtn {
    font-family: "main";
    font-size: 20px;
    background-image: linear-gradient(#9d47f9, #8525eb);
    color: #fefeff;
    height: 4vh;
    padding: 0px 55px;
    border-radius: 100px;
    border: transparent;
    cursor: pointer;
    box-shadow: -5px 3px #350774;
    transition: all 0.3s ease-in-out;
}

.navbtn:hover {
    opacity: 0.7;
    transform: scale(1.1);
    padding: 0 65px;
    margin: 0 10px;
}

.sparkly{
    position: absolute;
    left: 10px;
    top: 10px;

    img {
        height: 3vh;
    }
}